/lsnjhd-api/.vs/lsnjhd-api/v15/Server/sqlite3/db.lock
/lsnjhd-api/.vs/lsnjhd-api/v15/Server/sqlite3/storage.ide
/lsnjhd-api/.vs/lsnjhd-api/v15/Server/sqlite3/storage.ide-shm
/lsnjhd-api/.vs/lsnjhd-api/v15/Server/sqlite3/storage.ide-wal
