<div class="row">
  <div class="col s12 l2">
    <div class="card light-blue darken-4 z-depth-3">
      <div class="card-content white-text">
        <span class="card-title orange-text text-lighten-2"
          >Filter Options</span
        >
      </div>
    </div>
  </div>
  <div class="col s12 l10">
    <div class="card light-blue darken-4 z-depth-3">
      <div class="card-content white-text">
        <div class="row">
          <table>
            <thead>
              <tr class="yellow-text">
                <td class="col s1">Number</td>
                <td class="col s1">User</td>
                <td class="col s1">Priority</td>
                <td class="col s1">Status</td>
                <td class="col s1">Program</td>
                <td class="col s1">Office</td>
                <td class="col s1">Issue Type</td>
                <td class="col s3">Summary</td>
                <td class="col s2">Created</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col s1"><a href="/ticket/000000">000000</a></td>
                <td class="col s1">
                  <a
                    href="mailto:rbethke@lsnj.org&subject=Ticket#00000&cc=helpdesk@lsnj.org"
                    >Randall Bethke</a
                  >
                </td>
                <td class="col s1 red-text">Outage</td>
                <td class="col s1 green-text">Open</td>
                <td class="col s1">SJLS</td>
                <td class="col s1">Atlantic City</td>
                <td class="col s1">Networking</td>
                <td class="col s3">
                  Several users in AC do not have network access.
                </td>
                <td class="col s2">11/28/2018 08:38AM</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
